<section class="pagination container">
  <button
    class="pagination__btn"
    id="startBtn"
    disabled
    aria-label="start button"
  >
    <i class="fa-solid fa-angles-left"></i>
  </button>
  <button
    class="pagination__btn prevNext"
    id="prev"
    disabled
    aria-label="prev button"
  >
    <i class="fa-solid fa-angle-left"></i>
  </button>
  <div class="pagination__links">
    <!-- <a href="#" class="pagination__link active">1</a>
    <a href="#" class="pagination__link">2</a>
    <a href="#" class="pagination__link">3</a>
    <a href="#" class="pagination__link">4</a>
    <a href="#" class="pagination__link">5</a> -->
  </div>
  <button class="pagination__btn prevNext" id="next" aria-label="next button">
    <i class="fa-solid fa-angle-right"></i>
  </button>
  <button class="pagination__btn" id="endBtn" aria-label="end button">
    <i class="fa-solid fa-angles-right"></i>
  </button>
</section>
